@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --color-primary: #444959;
    --color-display: #979db0;
    --color-display-light:#e4e6eb;
    --color-display-light1:#eaeaef;
    --color-display-dark: #4b5163;
}
 

*,*::before,*::after {
    padding :0;
    margin : 0;
}

body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

nav {
    display : flex;
     
}

.menu {
    list-style :none;
    display: flex;
    align-items: center;
    margin-left:auto;
}

.menu__box {
    padding : 0.5rem;
}

.menu__link {
    font-weight : 400;
    font-size : 0.8rem;
    text-transform : capitalize;
    text-decoration : none;
    color : var(--color-primary);
}
.link__user {
    width : 30px;
    height : 30px;
    border-radius : 50%;
    background: var(--color-display);
    position : relative;
}

.link__user__icon {
    position : absolute;
    top : 50%;
    transform : translate(-50%,-50%);
    left :50%;
    color : white;
}

.link__bell {
    width : 22px;
    height :22px;
    background: var(--color-display-light1);
    border-radius : 50%;
    
   
}
.link__bell__icon {
    height : 100%; 
    z-index : 10;
}
 
.menu__link__icon {
    width : 25px;
    height : 25px;
}

.menu__link__icon > img {
    height : 100%;
}



.menu__link:active,.menu__link:link {
    color : var(--color-primary);
}

.main {
    display : flex;
    flex-direction : column;
    align-items: center;
    margin-bottom : 4rem;
}

.main__logo {
    margin-top : 10rem;
}
.main__input__box {
    width : 50%;
    position : relative;
}
.main__input {
    width : 100%;
    padding : 8px;
    font-size : 1.7rem;
    outline : none;
    border-width: 1px 1px 0 1px;
    border-color: var(--color-display-light);
    border-style: solid;
    box-shadow : 0 2px 2px var(--color-display-light);
}

.main__input__icon {
   position : absolute;
   top : 50%;
   transform : translateY(-50%);
   right : 4px;
   width : 18px;
   height : 18px;
}

.main__input:focus {
    box-shadow : 0 5px 2px var(--color-display-light);
}

.search {
    display : flex;
    justify-items:center;
    margin : 2rem;
}
.search__button {
    margin: 0 1rem;
    padding:0.5rem;
    font-weight : 400;
    font-size : 1.1rem;
    color : var(--color-primary);
    background :var(--color-display-light);
}
.search__button:hover {
    background : var(--color-display-light1);
    box-shadow: 0 5px 5px var(--color-display); 
}

.footer {
   
    display : block;
    position : absolute;
    bottom :0;
    left:0;
    width : 100%;
     
    background : var(--color-display-light);
    
}

.footer__country {
    padding : 8px 1rem;
    font-size : 2rem;
    color : var(--color-primary);
}

.hr-default {
    background:var(--color-display-light1);
    height :1px;
}

.footer__menu,.footer__menu-right,.footer__menu-left  {
    display: flex;
    list-style : none;
}

.footer__menu {
    padding : 0 1rem;
}
.footer__menu-left {
    margin-right : auto;
}


